* {
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
    display: inline-block;
}

.heading {
    background-color: cyan;
    border: 2px solid red;
    padding: 12px;
    margin: 20px;
    text-align: center;
}

.food-lists {
    background-color: yellow;
    border: 2px solid red;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    display: block;
    text-align: center;
}