* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

h2 {
    margin: 0 20px;
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    background-color: khaki;
    display: inline-block;
    width: 150px;
}

p {
    margin: 20px;
}

ol > li::marker {
    font-weight: bold;
}

li {
    margin: 20px;
    text-align: left;
    list-style-position: inside;
}

img {
    display: block;
    margin: 30px auto;
}

.home {
    background-color: cadetblue;
    color: black;
    padding: 12px;
    display: block;
    font-size: 30px;
}


.heading {
    background-color: cornsilk;
    border: 2px solid red;
    padding: 12px;
    margin: 20px;
    text-align: center;
}

.food-lists li {
    display: inline-block;
}

.food-lists {
    background-color: aquamarine;
    border: 2px solid red;
    padding: 30px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
}
